<header class="jumbotron">
    <h1 class="display-6 text-center">Log Da Burger</h1>
</header>

<section class="row">
    <ol class="col-md order-list"></ol>
    <ul class="col-md ready-list"></ul>
</section>

<section>
    <input type="text" id="burger-input" class="form-control" />
    <button id="place-order" class="btn btn-primary">Place Order</button>
</section>